header .row {
	margin: 30px 0px;
	
}
nav a {
	display: inline-block;
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 50px;
}
section .fondo{
	background: url('../img/dance_1.jpg') no-repeat;
	background-size: cover;
	background-position: 0 3%;
	padding: 70px 0px 0px 100px;
}

/*--Article-Background--*/

.fondo {
	height: 380px;
}

.fondo h1 {
	font-size: 60px;
	font-family: LatoMedium;
}
.fondo p {
	font-size: 12px;
	padding: 20px 0px 30px;
}
.boton-subcribete {
	background: #192951;
	border: none;
	width: 120px;
	height: 40px; 
}
/*Descripcion*/

.descripcion {
	padding: 200px 100px;
}
.decoracion{
	width: 150px;
}